<h2 class="page-header"><%= service.title %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= service.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/services/<%= service.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/services/${service.id}` }) %>
      <a class="btn btn-primary book-details-provider-button" href="/providers/<%= service.provider.id %>">View Provider</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Provider:</div>
    <div><%= service.provider.name %></div>
    <div class="book-details-label">Publish Date:</div>
    <div><%= service.publishDate.toDateString() %></div>
    <div class="book-details-label">Description:</div>
    <div><%= service.description %></div>
  </div>
</div>